<div class="mui-col-md-12 mui-col-xs-12">
    <div class="mui-panel mui--text-center mui--text-headline">Examples</div>
    <div class="mui-panel">
        <div class="mui--text-center mui--text-title">Plan trips for yourself or with others</div>
        <img class="example-image" src="/images/vacation.png" />
    </div>
    <div class="mui-panel">
        <div class="mui--text-center mui--text-title">Keep track and share useful resources for work and hobbies</div>
        <img class="example-image" src="/images/resources.png" />
    </div>
    <div class="mui-panel">
        <div class="mui--text-center mui--text-title">Use it for your personal bookmarks</div>
        <img class="example-image" src="/images/personal.png" />
    </div>
</div>