<div class="mui-col-md-12 mui-col-xs-12">
    <div class="mui-panel mui-text--heading">
        <div class="question-divider"><a href="#faq1" class="nodec-link">What is Linkage?</a></div>
        <div class="question-divider"><a href="#faq2" class="nodec-link">How does Linkage work?</a></div>
        <div class="question-divider"><a href="#faq3" class="nodec-link">How can I access my link collection?</a></div>
        <div class="question-divider"><a href="#faq4" class="nodec-link">How can I share my link collection?</a></div>
        <div class="question-divider"><a href="#faq5" class="nodec-link">Is my collection of links private?</a></div>
        <div class="question-divider"><a href="#faq6" class="nodec-link">I didn't get an email, what happened?</a></div>
        <div class="question-divider"><a href="#faq7" class="nodec-link">Can I create my own unique url like linkage.com/my_own_link?</a></div>
        <div class="question-divider"><a href="#faq8" class="nodec-link">Can I protect my collection so only I can edit it?</a></div>
        <div class="question-divider"><a href="#faq9" class="nodec-link">There's an issue with the site, what can I do?</a></div>
        <div class="question-divider"><a href="#faq10" class="nodec-link">Some of my links are missing from my collection, why?</a></div>
        <div class="question-divider"><a href="#faq11" class="nodec-link">There are links and groups in my collection that I didn't add, what happened?</a></div>
    </div>
    <div class="mui-panel">
        <div id="faq1">
            <div class="mui--text-title">What is Linkage?</div>
            Linkage is a lightweight bookmarking site that requires no signup or account and aims to be accessible on any browser.
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq2">
            <div class="mui--text-title">How does Linkage work?</div>
            Linkage saves your collection of links on the page and ties them to the url found in your address bar. In most cases, we generate the url so it doesn't conflict with someone else's,
            but you are able to <a href="#faq7" class="nodec-link mui--text-body1">generate your own</a>. With this unique link, you're able to access your collection on any device or browser.
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq3">
            <div class="mui--text-title">How can I access my link collection?</div>
            You can access your collection by writing down the unique link in your address bar, bookmarking the page, or emailing the link to yourself.
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq4">
            <div class="mui--text-title">How can I share my link collection?</div>
            You can share your link with anyone simply by letting them know what the unique link in your address bar is. We make it even easier by allowing you to email the link directly 
            from your collection page!
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq5">
            <div class="mui--text-title">Is my collection of links private?</div>
            No, anyone who has your link is able to view and edit your collection. Do not store any personal links or info in your collection!
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq6">
            <div class="mui--text-title">I didn't get an email, what happened?</div>
            A number of things. Check to make sure your email is correct, or if you're entering multiple emails that they're in the format of "ned@example.com, ted@example.com, fred@example.com".
            If those are both correct, it's likely a site error. The site is using a free email that has daily usage limits as the site currently isn't on its own hosting. 
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq7">
            <div class="mui--text-title">Can I create my own unique url like linkage.com/my_own_link?</div>
            You can, but there's no guarantee someone already isn't using it or that someone won't guess your link and be able to see and edit your collection
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq8">
            <div class="mui--text-title">Can I protect my collection so only I can edit it?</div>
            This idea will hopefully be implemented in the future, but for now there is no way to protect your collection.
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq9">
            <div class="mui--text-title">There's an issue with the site, what can I do?</div>
            Sorry about that! Your best access to help is by visiting and submitting an issue on <a href="https://github.com/metalsh33p/linkage/issues" class="nodec-link mui--text-body1">Linkage's GitHub page</a>.
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq10">
            <div class="mui--text-title">Some of my links are missing from my collection, why?</div>
            It looks like someone found the link to your collection. Creating or sharing your url increase the chances of someone viewing and editing your collection. While Linkage
            attempts to generate URLs that are difficult to guess, there's always the chance that it will happen.
        </div>
        <div class="mui-divider faq-divider"></div>
        <div id="faq11">
            <div class="mui--text-title">There are links and groups in my collection that I didn't add, what happened?</div>
            It looks like someone found the link to your collection. Creating or sharing your url increase the chances of someone viewing and editing your collection. While Linkage
            attempts to generate URLs that are difficult to guess, there's always the chance that it will happen.
        </div>
</div>