#header {
      background-color: #2196F3;
      color: #FFF;
      height: 3em;
      min-height: 3em;
      line-height: 3em;
      top: 3em;
      margin-bottom: 1.5em;
      display: block;
}
.newGrpInput {
    margin-right: 1.5em;
}
.group-link {
    color: #2196F3;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
}
.wrap {
    word-wrap: break-word;
}
#group-divider {
  margin-bottom: 10px;
}
#link-divider {
    margin-top: 10px;
    margin-bottom: 10px;
} 
#header-links {
    padding-left: 15px;
}
@media (min-width: 544px) {
    #add-group {
        margin-top: 15px;
    }
}
@media (max-width: 544px) {
    .header-link {
        padding-right: 0px !important;
    }
}
.error-text {
    color: #F44336;
}
#linkage-link {
    color: #e6e6e6;
}
#linkage-link:hover, linkage-link:focus  {
  text-decoration: none;
  color: #ffffff;
}
.nodec-link {
  text-decoration: none !important;
  color: #2196F3 !important;
}
#email-field {
    width: 85%;
}
/*.delete-link { 
    margin-top: 10px !important;
}*/
.example-image {
    display: block;
    margin: 0px auto;
    width: 75%;
    height: 75%;
}
.faq-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}
.question-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}
#your-link {
    word-wrap: break-word;
}