#header {
      background-color: #2196F3;
      color: #FFF;
      height: 3em;
      min-height: 3em;
      line-height: 3em;
      top: 3em;
      margin-bottom: 1.5em;
}
.newGrpInput {
    margin-right: 1.5em;
}
.groupLink {
    color: #2196F3;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrap {
    word-wrap: break-word;
}
#group-divider {
  margin-bottom: 10px;
}
#link-divider {
    margin-top: 10px;
    margin-bottom: 10px;
} 
#header-links {
    padding-left: 15px;
}
#faqs-link {
    padding-left: 15px;
}
@media (min-width: 544px) {
    #add-group {
        margin-top: 15px;
    }
}
.error-text {
    color: #F44336;
}
#linkage-link {
    color: #e6e6e6;
}
#linkage-link:hover, linkage-link:focus  {
  text-decoration: none;
  color: #ffffff;
}
#intro-link {
  text-decoration: none;
  color: #2196F3;
}
#email-field {
    width: 85%;
}
.delete-link { 
    margin-top: 10px !important;
}